/nbproject/private/
/CaRMSReservationClient/nbproject/private/
/CaRMSManagementClient/nbproject/private/
/CaRMS-ejb/nbproject/private/
/CaRMSLibrary/nbproject/private/
/CaRMSSystem/CaRMS-ejb/nbproject/private/
/CaRMSSystem/nbproject/private/
/CaRMSLibrary/build/
/dist/
/build/
/CaRMS-ejb/dist/
/CaRMS-ejb/build/
/CaRMSManagementClient/dist/
/CaRMSManagementClient/build/
/CaRMSLibrary/dist/
/CaRMSReservationClient/dist/
/CaRMSReservationClient/build/
